select,
#year {
  margin: 0 10px;
  width: 150px;
  font-size: larger;
}

input#submitFilter {
  margin: 0 10px;
  font-size: larger;
}

option {
  font-size: large;
}

li.MovieListItem {
  text-align: center;
  padding: 10px;
  margin: 5px 5px;
  max-width: 50%;
  background-color: #555;
  border-radius: 5px;
  color: #f45d22;
}

li.MovieListItem:hover {
  opacity: 60%;
  transition: 0.2s;
}
